/* Variables */
:root {
    --shadow-grey: #888888;
    /* тень по бокам   */

    --brand-color: #FFFFFF;
    /* header, content-title, white font, */
    --dirty-white: rgba(255, 255, 255, 0.9);
    /* футер  */
    --special-white: rgba(255, 255, 255, 0.3);
    /* search-button on click  */
    --light-white: rgba(0, 0, 0, 0.3);
    /* button on click  */

    --brand-font-color: #000000;
    /* black font */
    --dark-black: #231F20;
    /*copyright */

    --basic-blue: #81B3D2;
    --dark-blue: #669EC0;
    /* hover button*/
    --extra-dark-blue: #5496BD;
    /* active button */

    --dirty-grey: #333333;
    /* content font p */
    --basic-grey: #EEEEEE;
    /* content-name brd */
    --calm-grey: #CACACA;
    /* up,down slaider */
    --dark-grey: #F2F2F2;
    /* input form  */
    --darkest-grey: #A9A9A9;
    /*details form */
    --features-grey: rgba(0, 1, 1, 0.2);
    /* offer,features */
    --rate-grey: #666666;

    --basic-brown: #766357;
    /* search-button */
    --dark-brown: #604E43;
    /* hover-search-button */
    --extra-dark-brown: #503E33;
    /* active-search-button */
}

/* Global */
body {
    min-width: 1200px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Main header */
.main-header {
    background-color: var(--brand-color);
}

.main-navigation {
    list-style: none;
    background-color: var(--brand-color);
}

.main-navigation a {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--brand-font-color);
}

.main-navigation a:hover {
    color: var(--basic-blue);
}

.main-navigation a:active {
    color: var(--light-white);
}

.main-navigation-selected a,
.main-navigation-selected a:hover,
.main-navigation-selected a:active {
    color: var(--basic-brown);
}

/* Center */

.center {
    background-color: var(--brand-color);
}

.title {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.title-text {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.content-big {
    color: var(--brand-color);
    background-color: var(--basic-blue);
}

.content-name,
.features-name {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
}

.content-text,
.content-number {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.content-list {
    list-style: none;
}

.content {
    background-color: var(--basic-grey);
}

.features {
    background-color: var(--features-grey);
}

.features-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 330px;
    margin: 0;
    padding: 0;
}

.features-text {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--dirty-grey);
}

/* Offer */

.offer {
    background: var(--features-grey);
}

.offer-title {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
}

.offer-info {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

/* Button search */

.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}


.button-search {
    color: var(--brand-color);
    background-color: var(--basic-brown);
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.button-search:hover {
    background-color: var(--dark-brown);
}

.button-search:active {
    color: var(--special-white);
    background-color: var(--extra-dark-brown);
}

/* Filter */

.filter {
    background-color: var(--brand-color);
}

.filter-text {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.filter-button-selected {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--light-white);
    background-color: var(--brand-color);
    border: none;
}

.filter-button {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--light-white);
    background-color: var(--brand-color);
    border-bottom: 1px dashed var(--basic-blue);
}

.filter-button:hover {
    color: var(--basic-blue);
}

.filter-button:active {
    color: var(--brand-font-color);
}

.filter-up,
.filter-up:hover,
.filter-up:active {
    color: var(--calm-grey);
}

.filter-down {
    color: var(--basic-blue);
}

.filter-down:hover {
    color: var(--brand-font-color);
}

.filter-down:active {
    color: var(--basic-blue);
}

/* Hotels */

.hotel {
    background-color: var(--brand-color);
}

.hotel-list {
    list-style: none;
}

.hotel-name {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.hotel-link {
    color: var(--brand-font-color);
}

.hotel-link:hover {
    color: var(--basic-blue);
}

.hotel-link:active {
    color: var(--light-white);
}

.hotel-type,
.hotel-price,
.hotel-button-more,
.hotel-button-booking,
.hotel-rate {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.hotel-button-more {
    background-color: var(--basic-blue);
    color: var(--brand-color);
}

.hotel-button-more:hover {
    background-color: var(--dark-blue);
}

.hotel-button-more:active {
    color: var(--special-white);
    background-color: var(--extra-dark-blue);
}

.hotel-button-booking {
    background-color: var(--basic-brown);
    color: var(--brand-color);
}

.hotel-button-booking:hover {
    background-color: var(--dark-brown);
}

.hotel-button-booking:active {
    color: var(--special-white);
    background-color: var(--extra-dark-brown);
}

.hotel-rate {
    background-color: var(--dark-grey);
    color: var(--rate-grey);
}

/* Footer */

.page-footer {
    background-color: var(--dirty-white);
}

.contacts {
    color: var(--brand-font-color);
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.contacts a {
    color: var(--brand-font-color);
}

.socials-list {
    list-style: none;
}

.social-button {
    background-color: var(--basic-blue);
    color: var(--brand-color);
}

.social-button:hover {
    background-color: var(--dark-blue);
}

.social-button:active {
    background-color: var(--extra-dark-blue);
    color: var(--light-white);
}

.copyright {

    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.copyright-link {
    color: var(--dark-black);
}

.copyright-link:hover {
    color: var(--basic-blue);
}

.copyright-link:active {
    color: var(--darkest-grey);
}
