/* Variables */
:root {
    --shadow-grey: rgba(0, 1, 1, 0.2);
    /* тень по бокам   */

    --brand-color: #FFFFFF;
    /* header, content-title, white font, */
    --dirty-white: rgba(255, 255, 255, 0.9);
    /* футер  */
    --special-white: rgba(255, 255, 255, 0.3);
    /* search-button on click  */
    --light-white: rgba(0, 0, 0, 0.3);
    /* button on click  */

    --brand-font-color: #000000;
    /* black font */
    --dark-black: #231F20;
    /*copyright */

    --basic-blue: #81B3D2;
    --dark-blue: #669EC0;
    /* hover button*/
    --extra-dark-blue: #5496BD;
    /* active button */

    --dirty-grey: #333333;
    /* content font p */
    --basic-grey: #EEEEEE;
    /* content-name brd */
    --calm-grey: #CACACA;
    /* up,down slaider */
    --dark-grey: #F2F2F2;
    /* input form  */
    --darkest-grey: #A9A9A9;
    /*details form */
    --rate-grey: #666666;

    --basic-brown: #766357;
    /* search-button */
    --dark-brown: #604E43;
    /* hover-search-button */
    --extra-dark-brown: #503E33;
    /* active-search-button */

    --brand-font: "PT Sans", Arial, sans-serif;
}

/* Global */

body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Main header */

.main-header {
    background-color: var(--brand-color);
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
}

.main-header div {
    position: absolute;
    top: 0;
    justify-self: center;
}

.main-navigation {
    list-style: none;
    background-color: var(--brand-color);
    display: flex;
}

.main-navigation li:nth-child(1) {
    padding: 0 67px 0 72px;
}

.main-navigation li:nth-child(2) {
    padding: 0 209px 0 67px;
}

.main-navigation li:nth-child(3) {
    padding: 0 73.5px 0 209px;
}

.main-navigation li:nth-child(4) {
    padding: 0 72px 0 73.5px;
}

.main-navigation a {
    font-family: var(--brand-font);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--brand-font-color);
}

.main-navigation,
.features-list,
.content-list,
.hotel-list {
    padding: 0;
}

.main-navigation a:hover {
    color: var(--basic-blue);
}

.main-navigation a:active {
    color: var(--light-white);
}

.main-navigation-selected a,
.main-navigation-selected a:hover,
.main-navigation-selected a:active {
    color: var(--basic-brown);
}

.main-decor {
    min-height: 509px;
}

/* grid */

.container {
    display: grid;
    grid-template-rows: min-content auto min-content;
    margin: 0 auto;
    background: var(--dark-grey);
}

.grid-container {
    display: grid;
    grid-template-rows: 256px 330px 256px 256px;
    grid-template-columns: 400px 400px 400px;
}

.wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: var(--brand-color);
    box-shadow: 0px 5px 15px var(--shadow-grey);
}

/* Center */

.center {
    background-color: var(--brand-color);
    grid-row: 2/3;
}

.title {
    font-family: var(--brand-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 42.5px;
}

.title-text {
    font-family: var(--brand-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 51px;
}

.content-big-left {
    color: var(--brand-color);
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 400px 800px;
}

.content-left {
    background-color: var(--basic-blue);
    grid-column: 1/2;
}

.content-big-right {
    color: var(--brand-color);
    grid-column: 1/5;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 800px 400px;
}

.content-right {
    background-color: var(--basic-blue);
    grid-column: 2/4;
}

.content-name {
    font-family: var(--brand-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 47px;
}

.content-text {
    font-family: var(--brand-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 23px;
}

.content-number {
    font-family: var(--brand-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}

.content-list {
    list-style: none;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.content {
    background-color: var(--basic-grey);
    grid-column: 1/5;
    grid-row: 4/5;
}

.features {
    background-color: var(--brand-color);
    grid-column: 1/5;
    grid-row: 2/3;
}

.features-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 330px;
}

.features-name {
    font-family: var(--brand-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 28px;
}

.features-text {
    font-family: var(--brand-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--dirty-grey);
    margin-top: 25px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.catalog-center {
    display: grid;
}

/* Offer */

.offer {
    background: var(--brand-color);
    text-align: center;
}

.offer-title {
    font-family: var(--brand-font);
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
}

.offer-info {
    font-family: var(--brand-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

/* Button search */

.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.button-search {
    color: var(--brand-color);
    background-color: var(--basic-brown);
    font-family: var(--brand-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 30px 125px;
}

.button-search:hover {
    background-color: var(--dark-brown);
}

.button-search:active {
    color: var(--special-white);
    background-color: var(--extra-dark-brown);
}

/* Catalog */

.input-filter {
    min-height: 217px;
}

.filter {
    background-color: var(--brand-color);
    display: flex;
    align-items: center;
}

.filter-result {
    font-family: var(--brand-font);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin-left: 73px;
}

.filter-sorting {
    font-family: var(--brand-font);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 46px;
}

.filter-button-selected {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-blue);
    background-color: var(--brand-color);
    border: none;
    margin-left: 40px;
}

.filter-button {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--light-white);
    background-color: var(--brand-color);
    border-bottom: 1px dashed var(--basic-blue);
    margin-left: 32px;
}

.filter-button:hover {
    color: var(--basic-blue);
}

.filter-button:active {
    color: var(--brand-font-color);
    border: none;
}

.filter-up,
.filter-up:hover,
.filter-up:active {
    color: var(--calm-grey);
    margin-left: auto;
    margin-right: 12px;
}

.filter-down {
    color: var(--basic-blue);
    margin-right: 73px;
}

.filter-down:hover {
    color: var(--brand-font-color);
}

.filter-down:active {
    color: var(--basic-blue);
}

/* Hotels */

.hotel {
    background-color: var(--brand-color);
}

.hotel-list {
    list-style: none;
    margin-right: 72px;
}

.hotel-list-item {
    display: flex;
    flex-wrap: wrap;
}

.hotel-photo {
    margin: 30px 29px 30px 73px;
}

.booking,
.details {
    display: inline-block;
}

.booking p,
.details p {
    color: var(--brand-font-color);
    font-family: var(--brand-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 7px;
    margin-bottom: 15.5;
}

.rates {
    margin-left: auto;
    margin-top: 29px;
}

.hotel-rate {
    display: block;
    margin-bottom: 30px;
    margin: 47px 0 30px auto;
    width: 83px;
    padding: 3px 12px 3px 15px;
    background-color: var(--dark-grey);
    color: var(--rate-grey);
}

.hotel-link {
    color: var(--brand-font-color);
    font-family: var(--brand-font);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.hotel-link:hover {
    color: var(--basic-blue);
}

.hotel-link:active {
    color: var(--light-white);
}

.hotel-button-more,
.hotel-button-booking,
.hotel-rate {
    font-family: var(--brand-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.hotel-button-more {
    background-color: var(--basic-blue);
    color: var(--brand-color);
    padding: 3px 16px 3px 17px;
}

.hotel-button-more:hover {
    background-color: var(--dark-blue);
}

.hotel-button-more:active {
    color: var(--special-white);
    background-color: var(--extra-dark-blue);
}

.hotel-button-booking {
    background-color: var(--basic-brown);
    color: var(--brand-color);
    padding: 3px 16px 3px 17px;
}

.hotel-button-booking:hover {
    background-color: var(--dark-brown);
}

.hotel-button-booking:active {
    color: var(--special-white);
    background-color: var(--extra-dark-brown);
}

/* Footer */

.page-footer {
    background-color: var(--dirty-white);
    min-height: 125px;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
    color: var(--brand-font-color);
    font-family: var(--brand-font);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.contacts span {
    display: inline-block;
    margin-top: 23px;
}

.contacts p {
    color: var(--brand-font-color);
    margin-top: 9px;
}

.contacts a {
    color: var(--brand-font-color);
}

.socials-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    gap: 6px;
}

.social-button {
    background-color: var(--basic-blue);
    color: var(--brand-color);

}

.social-button:hover {
    background-color: var(--dark-blue);
}

.social-button:active {
    background-color: var(--extra-dark-blue);
    color: var(--light-white);
}

.copyright {
    font-family: var(--brand-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 38px;
}

.copyright-link {
    color: var(--dark-black);
}

.copyright-link:hover {
    color: var(--basic-blue);
}

.copyright-link:active {
    color: var(--darkest-grey);
}
